/* Universal styling for the webpage */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  /* color: white; */

}

body {
  display: table;
  width: 100%;

  /* color: #000; */
  line-height: 1.6; 
  position: relative;
  font-family: "Open Sans", sans-serif;
  /* /* overflow: hidden;  */
  background: linear-gradient(-45deg, #ee896b, #9e73d0, #3183a1, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh; 
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* created parallax scrolling effect */
/* header {
  background-image: url("../images/background-img.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Some space for the container from all sides */
.contain {
  padding: 30px 9%;
  margin-bottom: 150px;
  color: white;
}

/* Styling for the navigation menu */
nav {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 10px;
  pointer-events: auto;


}

/* Size for the logo */
.logoname {
  width: 220px;
}

/* Styling for the navigation menu items */
nav ul li {
  margin: 5px 25px;
  display: inline-block;
  list-style: none;
}

nav ul li a {
  /* color: rgb(255, 255, 255); */
  font-size: 28px;
  text-decoration: none;
  position: relative;
}

/* Adding a line under each link when hovered */
nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: lightsalmon;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.8s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Styling for the About Me section */
#about {
  /* color: rgb(255, 255, 255); */
  padding: 90px 0;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* styling for the about me image */
.about-img {
  z-index: 9;
  
}
/* styling for the about me image */
.about-img img {
  flex-basis: 30%;
  margin-right: 40px;
  width: 88%;
  border-radius: 3%;
}

/* Styling for the About Me section */
.about-txt {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
  
}

/* Styling for the headline in the About Me section */
.about-heading {
  /* color: white; */
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

/* Styling for the body text in the About Me section */
.about-body {
  font-size: 18px;
  line-height: 1.8;
  padding: 20px;
  background-color: rgba(64, 64, 64, 0.7); /* Dark grey background color with some transparency */
  backdrop-filter: blur(10px); /* Blur the background */
  border-radius: 40px;  
  /* color: white; */
}
  


/* Styling for the My Work section */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 20px;
}

.about-txts {
  text-align: center;
}
.worklist {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 29px;
}

.work {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
}

.work-large {
  flex-basis: calc(66.67% - 10px);
}

.work img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 10px;
}

.work::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background-color: rgb(196, 164, 255);
  opacity: 0;
  filter: blur(25px);
  transition: opacity 0.3s ease;
  z-index: -1;
}

.work:hover::before {
  opacity: 0.6;
}

.work .overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.work:hover .overlay {
  opacity: 1;
}

.work .overlay-text {
  /* color: white; */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

/* Styling for the Contact Me section */
#contact {
  /* background-color: #ffffffbb; */
  /* color: #000000; Text color */
  padding: 80px 0;
  pointer-events: auto;
  text-align: center;
  /* margin-bottom: 300px; */
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-heading {
  text-align: center;
  /* color: #000000; Heading color */
  font-size: 66px;
  font-weight: bold;
  /* margin-bottom: 60px; */
  padding-bottom: 50px;
}
.cont {
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
  background-color: rgba(14, 14, 14, 0.7); /* Dark grey background color with some transparency */
  backdrop-filter: blur(10px); /* Blur the background */
  border-radius: 40px;
  color: white;
}


.icons {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start */
  flex-wrap: wrap;
  margin-top: 30px;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; /* Adjust spacing between icons */
}

.icon-container i {
  margin-bottom: 10px; /* Spacing between icon and text */
}
.icons h1 {
  /* color: #ffffff; Heading color */
  font-size: 30px;
  /* font-weight: bold; */
  margin-bottom: 20px;
}

.icons a {
  margin: 10px 20px 10px 20px;
  color: #8037ff; /* Change color as needed */
  text-decoration: none;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #240077; /* Change hover color as needed */
}

/* Media Queries for smaller screen sizes */
@media screen and (max-width: 767px) {
  .work {
    flex-basis: calc(50% - 10px);
    color: rgb(134, 114, 88);
  }

  .work-large {
    flex-basis: 100%;
  }

  .cont {
    padding: 0 20px;
    background-color: #007bff;
  }
  .contact-heading h1 {
    font-size: 42px; /* Decrease font size for smaller screens */
    color: white;
  }
  .contact {
    padding: 20px;
  }
}

@media screen and (max-width: 479px) {
  .work {
    flex-basis: 100%;
  }
}
/* created for parallax scrolling effect max width*/
@media only screen and (max-device-width: 479px) {
  header {
    background-attachment: scroll;
  }
}

.arrow {
  position: sticky;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: auto;

}

.arrow span {
  position: absolute;
  top: 625px;
  left: 50%;
  width: 50px;
  height: 50px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: translateX(-50%) rotate(-45deg);
}

.bounce {
  animation: bounceAnim 1s infinite alternate;
}

@keyframes bounceAnim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
/* 
.lines {
  /* position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 8s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
  &::after {
    animation-delay: 1s;
  }
}

.line:nth-child(3) {
  margin-left: 25%;
  &::after {
    animation-delay: 1s;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
} */
 

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 header { 
  
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto' !important; 
  color: white;
  font-size: 9px;
  
}

#magic {

  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: -9999;
}

.playground{

  /* position: fixed; */
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.bottomPosition{

  text-align: center;
  margin-bottom: 50px;
  
}
.minText{
  
  font-size: 14px;
}

a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}


