* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;

}

body {
  display: table;
  width: 100%;
  line-height: 1.6; 
  position: relative;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(-45deg, #ee896b, #9e73d0, #3183a1, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh; 
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contain {
  padding: 30px 9%;
  margin-bottom: 150px;
  color: white;
}

nav {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 10px;
  pointer-events: auto;
}

.logoname {
  width: 15%;
}

nav ul li {
  margin: 5px 25px;
  display: inline-block;
  list-style: none;
}

nav ul li a {
  font-size: 28px;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: lightsalmon;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.8s;
}

nav ul li a:hover::after {
  width: 100%;
}

#about {
  padding: 90px 0;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-img {
  z-index: 9;
  flex-basis: 20%;
}

.about-img img {
  margin-right: 40px;
  width: 88%;
  border-radius: 3%;
}

.about-txt {
  flex-basis: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

.about-heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.about-body {
  font-size: 18px;
  line-height: 1.8;
  padding: 20px;
  background-color: rgba(64, 64, 64, 0.7); 
  backdrop-filter: blur(10px); 
  border-radius: 40px;  
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 20px;
}
.about-txts {
  text-align: center;
}
.worklist {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 29px;
}
.work {
  flex-basis: calc(33.33% - 70px);
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
  
  
}
.work-large {
  flex-basis: calc(66.67% - 10px);
}
.work img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}
.work::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;

  background-color: rgb(235, 255, 164);
  opacity: 0;
  filter: blur(25px);
  transition: opacity 0.3s ease;
  z-index: -1;
}
.work:hover::before {
  opacity: 0.44;
}
.work .overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.work:hover .overlay {
  opacity: 1;
}
.work .overlay-text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

#contact {
  padding: 80px 0;
  pointer-events: auto;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-heading {
  text-align: center;
  font-size: 66px;
  font-weight: bold;
  padding-bottom: 20px;
}

.cont {
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
  background-color: rgba(14, 14, 14, 0.7); 
  backdrop-filter: blur(10px);
  border-radius: 40px;
  color: white;
  box-shadow: #ffffff 0px 0px 10px;
  padding-bottom: 25px;
}

.cont h2 {
  font-size: 30px;
}

.linksBelow{
  padding: 25px 0px 20px 0px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; 
}

.icon-container i {
  margin-bottom: 10px; 
}

.icons h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.icons a {
  margin: 10px 20px 10px 20px;
  /* color: #8037ff;  */
  text-decoration: none;
  transition: color 0.3s ease;
}

.linkedin a {
  color: #0e76a8;
}

.github a {
  color: #666464;
}

.certificate a {
  color: #5352c4;
}

.resume a {
  color: #ffffff;
}

.icons a:hover {
  color: #ffffff; 
}

.arrow {
  position: sticky;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: auto;
}

.arrow span {
  position: absolute;
  top: 75vh; 
  left: 50%;
  width: 50px;
  height: 50px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 217, 0);
  transform: translateX(-50%) rotate(-45deg);
}

.bounce {
  animation: bounceAnim 1s infinite alternate;
}

@keyframes bounceAnim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header { 
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto' !important; 
  color: white;
  font-size: 9px;
}

#magic {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: -9999;
}

.playground{
  /* position: fixed; */
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bottomPosition{
  text-align: center;
  margin-bottom: 50px;
}

.minText{
  font-size: 14px;
}

a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}

/* Media Queries for smaller screen sizes */
@media screen and (max-width: 767px) {
  
  .about-img {
    flex-basis: 50%; 
    margin-right: 0; 
  }

  .work {
    flex-basis: calc(50% - 10px);
    color: rgb(134, 114, 88);
  }

  .work-large {
    flex-basis: 100%;
  }

  .cont {
    padding: 20px;
  }
  .cont h2 {
    font-size: 20px;
  }
  .contact-heading {
    font-size: 32px; 
    padding: 25px;
  }
  .contact {
    padding: 20px;
  }

  .icons h1 {
    font-size: 14px;
    margin-bottom: 1px; 
  }

  .icons a {
    margin: 10px; 
    font-size: 35%;
  }
}


@media only screen and (max-width: 479px) {

    header {
      background-attachment: scroll;
    }

    body {
      font-size: 14px;
    }
  
    .work img {
      /* center item */
      margin-left: auto;
      margin-right: auto;
    }

    .contain {
      padding: 20px 5%; 
      margin-bottom: 50px;
    }
  
    nav {
      padding: 5px;
    }
  
    .logoname {
      width: 30%; 
    }
  
    nav ul li {
      margin: 5px 10px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    .about-img img {
      flex-basis: 100%; 
      margin-right: 0; 
    }
  
    #about {
      padding: 5px; 
    }
    .about-txt {
      max-width: 100%; 
      margin: 5px 0; 
      padding: 20px;
    }
  
    .about-heading {
      font-size: 32px; 
      margin-bottom: 10px; 
    }
  
    .about-body {
      font-size: 16px; 
      padding: 10px; 
    }
  
    .work {
      flex-basis: 100%; 
      margin-bottom: 20px; 
    }
  
    .work img {
      width: 80%; 
      border-radius: 8px; 
    }
  
    .contact-heading {
      font-size: 22px;
      padding-bottom: 20px;
    }
  
    .cont {
      font-size: 10px; 
      padding: 20px;

    }
  
    .linksBelow {
      font-size: 16px; 
      padding: 10px 0px 5px 0px;
    }
    .icons {
      margin: 15px; 
    }

    .icon-container {
      margin: 0 10px; 
    }
    .icons h1 {
      font-size: 14px; 
      margin-bottom: 1px; 
    }
  
    .icons a {
      margin: 1px; 
      font-size: 70%;
    }

    header { 
      font-size: 12px; 
    }
  
    .minText{
      font-size: 12px; 
    }
  
    .bottomPosition{
      margin-bottom: 10px;
    }
  
    .logo {
      width: 20px;
      height: 20px; 
    }

    .playground{
      height: 50%;
    }

  }
